body {
    background: #f0f0f0;
    height: 100vh;
    font-family: Arial, sans-serif;
}

.button {
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #ddd;
}

.button:active {
    transform: translateY(2px);
}

.person-selector {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin: 2em auto 1em;
    max-width: 40em;
}

.person-selector-button {
    width: 100%;
    background-color: #3498db;
    color: #fff;
    font-size: 1.1em;
}

.active-person {
    background: #2c3e50;
    box-shadow: 0 0 5px 1px #888888;
}

.chat-container {
    background: #fff;
    border-radius: 5px;
    padding: 10px;
    margin: auto;
    max-width: 37.5em;
    height: 37.5em;
    box-shadow: 0 0 10px 5px #888888;
}

.chat-header {
    margin-bottom: 1em;
    color: #333;
}

.chat-header h2 {
    font-size: 1.25em;
    font-weight: bold;
}

.chat-messages {
    height: 23em;
    overflow-y: scroll;
}

.chat-messages::-webkit-scrollbar {
    display: none;
}

.message {
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    color: #333;
}

.message-sender {
    font-weight: bold;
    margin-bottom: 5px;
}

.message-text {
    font-size: 1em;
    margin-bottom: 5px;
    word-wrap: break-word;
}

.message-timestamp {
    font-size: 0.75em;
    text-align: right;
}

.blue-bg {
    background-color: #3498db;
}

.gray-bg {
    background-color: #95a5a6;
}

.chat-input-form {
    display: flex;
    align-items: center;
    margin-top: 2em;
    gap: 10px;
}

.chat-input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f0f0f0;
    color: #333;
    font-size: 1em;
    flex-grow: 1;
}

.send-button {
    background-color: #3498db;
    color: #fff;
    font-size: 1em;
    font-weight: bold;
}

.clear-chat-button {
    display: block;
    margin: 2.5em auto;
}
